<div class="matrix-table">
  <table class="rm-tbl">
    <tr>
      <td rowspan="6" class="rm-vertical-table-head">
        <p>Increasing Impact</p>
      </td>
      <td></td>
      <td contenteditable="true">Obj.</td>
      <td contenteditable="true">Cost.</td>
      <td contenteditable="true">HSE</td>
      <td colspan="3" class="rm-horizon-table-head">Increasing Probability</td>
    </tr>
    <tr>
      <th rowspan="2"></th>
      <th rowspan="2" contenteditable="true">Well Objective</th>
      <th rowspan="2" contenteditable="true">D & W Cost</th>
      <th rowspan="2" contenteditable="true">Health, Safety, Environment & Reputation</th>
      <th contenteditable="true"> &#60;1% </th>
      <th contenteditable="true"> 1 – 10% </th>
      <th contenteditable="true">10 – 100%</th>
    </tr>
    <tr>
      <td class="axis-index-risk-matrix">P1</td>
      <td class="axis-index-risk-matrix">P2</td>
      <td class="axis-index-risk-matrix">P3</td>
    </tr>
    <tr>
      <td class="axis-index-risk-matrix-y axis-index-risk-matrix">
        T1
      </td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
    <tr>
      <td class="axis-index-risk-matrix-y axis-index-risk-matrix">T2</td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
    <tr>
      <td class="axis-index-risk-matrix-y axis-index-risk-matrix">T3</td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
  </table>
</div>
