<div class="initial-matrix">
  <div class="box">
    <span class="icon">
      <span class="risk-icon-edit-note"></span>
    </span>
    <h3 class="title">No matrix se for this project yet</h3>
    <p class="description">You will need to set up the Risk Matrix and the Risk Register table. Follow the steps <br> on the screen to complete the setup.</p>
    <ol class="decimal-style">
      <li>Select a type off matrix to use</li>
      <li>Set up the layout off the Risk Register table</li>
    </ol>
  </div>
</div>