@import 'mixins';
@import 'colors';

:host {
  @include flex(flex-start, null, null, nowrap);
}

// table setting
table {
  table-layout: fixed;
  border-collapse: collapse;

  // only for chrome, safari, edge
  @include onlyForChrome {
    thead {
      position: sticky;
      top: 0;
      background-color: $white;

      tr {
        &:first-child {
          th {
            position: sticky;
            top: 0;
          }
        }

        &:last-child {
          th {
            position: sticky;
          }
        }
      }
    }

    tr {
      th,
      td {
        &:first-child {
          position: sticky;
          left: 0;
          z-index: 20;
        }
      }

      th {
        background-color: $white;
        z-index: 10;
      }
    }
  }

  thead {
    tr {
      th {
        &:first-child {
          z-index: 30;
        }
      }
    }
  }

  // only for firefox
  @include onlyForFirefox {
    thead {
      position: sticky;
      top: 0;
      z-index: 30;
      background-color: $white;

      th:first-child {
        position: sticky;
        left: 0;
      }

      th:not(:first-child) {
        position: static !important;
      }
    }

    tr {
      th,
      td {
        &:first-child {
          position: sticky;
          left: 0;
        }
      }

      th {
        background-color: $white;
        z-index: 40;
      }
    }
  }
}

// cell common
th,
td {
  width: 100px;
  min-width: 100px;
  max-width: 100px;

  &.rm-fake-column {
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

// header
th {
  height: 32px;

  @include onlyForFirefox {
    height: auto !important;
    min-height: 32px;
  }

  // cell inner
  .rm-cell-inner {
    @include flex(flex-start, space-between, null, nowrap);

    // header label
    .rm-header-label {
      @include itemFlex(1, 1, 0);
    }
  }
}

// body
td {
  height: 40px;

  // cell inner
  .rm-cell-inner {
    @include flex(center, flex-start);
    color: #ff0000;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

// every second rows
tbody {
  th {
    background-color: $white;
  }

  tr:nth-child(2n - 1) {
    td {
      background-color: $white;
    }
  }

  tr:nth-child(2n) {
    td {
      background-color: #f7f9f9;
    }
  }
}

// cell inner
.rm-cell-inner {
  @include padding(8px);
  @include box(100%);
}

// header label
.rm-header-label {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #ff0000;
  //word-break: break-word;
  white-space: normal;
  text-align: left;
}

// header sorts
.rm-header-sorts {
  @include flex(center, center, column);
  height: 16px;
  margin-left: 8px;

  // inactive
  &.rm-inactive {
    .rm-header-sort-arrow {
      border-bottom: 4px solid #ff0000;
    }
  }
}

// header sort arrow
.rm-header-sort-arrow {
  @include clickable(true);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #ff0000;

  // down
  &.rm-down {
    transform: rotate(180deg);
  }

  // inactive
  &.rm-inactive {
    border-bottom: 4px solid #ff0000;
  }
}

// arrow gap
.rm-header-sort-arrow + .rm-header-sort-arrow {
  margin-top: 3px;
}

// static column
.rm-table-static-column {
  // cell inner for static column
  .rm-cell-inner {
    @include flex(center, center);
  }
}

// table row
.rm-table-row {
  // header
  &.rm-header {
    @include flex(center);
  }

  // body
  &.rm-body {
    @include flex(flex-start);
  }
}

// table cell
.rm-table-cell {
  @include padding(0 8px);

  // header
  &.rm-header {
    @include flex(flex-start, space-between);

    .rm-table-header-label {
      @include itemFlex(1, 1, 0);
    }
  }
}

// table container
.rm-table-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: auto;
}

// static element common
.rm-table-static-column,
.rm-table-static-header,
.rm-table-static-corner {
  @include topLeft;
  position: absolute;
  background-color: $white;
}

// static header
.rm-table-static-header {
  z-index: 10;

  th {
    background-color: $white;
  }
}

// static column
.rm-table-static-column {
  left: 0;
  z-index: 11;

  th,
  td {
    max-width: none;
  }
}

// static corner
.rm-table-static-corner {
  @include topLeft;
  z-index: 12;

  th {
    background-color: $white;
    max-width: none;
  }
}

// static header
.rm-table-static-corner {
  th {
    .rm-cell-inner {
      @include flex(center, center);
    }
  }
}

.rm-table-static-header,
.rm-table {
  @include onlyForIE {
    min-width: 100%;
  }

  table {
    width: 100%;
  }

  // last column in scrollable content
  tr {
    th,
    td {
      &:last-child {
        .rm-cell-inner {
          padding-right: 16px;
        }
      }
    }
  }
}

.rm-table {
  table {
    @include onlyForIE {
      table-layout: auto;
    }

    tr {
      th,
      td {
        &:first-child {
          .rm-cell-inner {
            @include flex(center, center);
          }
        }
      }
    }
  }
}

// loading column
.rm-status-column {
  height: 200px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
  color: #ff0000;
  text-align: center;
}

.rm-table-static-column,
.rm-table-static-header,
.rm-table-static-corner {
  display: none;
}

// table link
.rm-table-link {
  @include clickable(true);
  color: #ff0000;
}

// numeric column
.rm-numeric-column {
  display: inline-block;
  width: 100%;
  text-align: right;
}

// button
.btn-confirm {
  @include clickable(true);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #ff0000;
}

.boolean-selector-container {
  display: flex;
  width: 100%;

  .btn-confirm {
    margin-left: 5px;
  }
}

.rm-info {
  position: relative;
  margin-right: 5px;
  // >* {
  //   position: absolute;
  //   bottom: 120%;
  //   left: 0;
  // }

}

.rm-info-instrument-type-panel {
  // width: 100px;
  // height: 200px;

  position: absolute;
  transform: translateX(-25%);
  bottom: calc(100% + 10px);
  // width: 100px;
  // height: 200px;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  z-index: 999;
  padding: 20px;

  .panel-arrow{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1000;
    transform: rotate(-40deg);
    left: calc(25% - 10px);
    top: calc(100% - 10px);
    border-left: 1px solid;
    border-bottom: 1px solid;
    background-color: white;

  }

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .sections{
    display: flex;
    .section{
      > *{
        margin-top: 10px;
      }
       &:nth-child(2){
         margin-left: 20px;
       }
      .sub-title{
        font-weight: bold;
        margin-left: 10px;
      }
      .item {
        display: flex;
        // width: 50%;
        color: #707070;
        white-space: nowrap;
        >* {
          margin-left: 10px;
        }
        .name {
          width: 60px;
          font-weight: bold;
        }
      }
    }

  }

}
