@import 'colors';
:host {
  width: 100%;
  display: block;
}
label.rm-label-form-field {
  font-size: 12px;
  font-weight: bold;
  color: $text-gray;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
  position: relative;
  span.risk-icon-ask-question {
    cursor: pointer;
    line-height: 1.5;
    .description {
      position: absolute;
      bottom: calc(100% + 6px);
      left: 0;
      padding: 6px 12px;
      background-color: #000;
      color: #fff;
      font-size: 14px;
      border-radius: 4px;
      line-height: 19px;
      display: none;
    }
    &:hover {
      .description {
        display: initial;
      }
    }
  }
}

.rm-content-form-field {
}