$white: #fff;
$black: #000;
$selago: #f2f5fd;
$dodge-blue: #1786ff;
$athens-gray: #e5e5ea;
$athens-gray2: #f2f2f7;
$jumbo: #707075;
$bg-gray: #F8F8FB; /*form controls area, set up matrix menu*/
$text-gray:#8E8E93; /*form controls area label text*/
$curious-blue: #22A8D8;
$field-focus: #4891FF;
$red: red;
$black: #000;
$white: #fff;
$emerald: #4CD964;
$dodger-blue: #4891FF;
$mercury: #E6E6E6;
$athens-gray3: #EBEBF3;
$table-head-gray: #C7C7CC;