@font-face {
  font-family: 'riskicon';
  src:  url('../fonts/riskicon.eot?pqii01');
  src:  url('../fonts/riskicon.eot?pqii01#iefix') format('embedded-opentype'),
    url('../fonts/riskicon.ttf?pqii01') format('truetype'),
    url('../fonts/riskicon.woff?pqii01') format('woff'),
    url('../fonts/riskicon.svg?pqii01#riskicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="risk-icon-"], [class*=" risk-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'riskicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.risk-icon-add:before {
  content: "\e90d";
}
.risk-icon-arrow-bottom:before {
  content: "\e90e";
}
.risk-icon-arrow-top:before {
  content: "\e90f";
}
.risk-icon-ask-question:before {
  content: "\e900";
}
.risk-icon-check:before {
  content: "\e911";
}
.risk-icon-check-circle:before {
  content: "\e901";
}
.risk-icon-close:before {
  content: "\e910";
}
.risk-icon-command:before {
  content: "\e909";
}
.risk-icon-copy:before {
  content: "\e902";
}
.risk-icon-delete:before {
  content: "\e904";
}
.risk-icon-edit:before {
  content: "\e913";
}
.risk-icon-edit-note:before {
  content: "\e905";
}
.risk-icon-folder:before {
  content: "\e906";
}
.risk-icon-horizontal:before {
  content: "\e90c";
  color: #c7c7cc;
}
.risk-icon-next:before {
  content: "\e91b";
}
.risk-icon-plus:before {
  content: "\e903";
}
.risk-icon-select-arrow:before {
  content: "\e907";
}
.risk-icon-settings:before {
  content: "\e908";
}
.risk-icon-vertical:before {
  content: "\e90b";
  color: #c7c7cc;
}
